SILENT_MODE=true
READ_INBOUND_MESSAGES=false
SEND_PRESENCE_UPDATES=false
MARK_ONLINE_ON_CONNECT=false

MIN_DELAY_MS=1500
MAX_DELAY_MS=3000

PER_CONTACT_GAP_MS=60000
GLOBAL_GAP_MS=2500
DEDUPE_TTL_MS=600000
SCHEDULER_TICK_MS=5000

TZ=America/Sao_Paulo
